*~
*.pyc
*.pyo
__pycache__/
build/
pglookout.egg-info/
.coverage
/pglookout/version.py
py3?/
multiple_master_warning
.python-version

buildit-plugins/ikb_plugins
buildit-services/

mpy-pgfailover.sh
mpy-pgnotify.sh
mpy-pgnotify-time-lag-overflow.sh